In [1]:
import pandas as pd 
df = pd.read_csv('CIRCTER/main-data/ind_1059/ind_1059_was_data.csv')
df.drop(['id', 'name', 'code', 'nomenclature', 'level', 'version',
        'processes', 'sources'], axis=1, inplace=True)

df.dropna(inplace=True)
df['y_2014'] = df['y_2014'].astype(int)
df['y_2006'] = df['y_2006'].astype(int)
df['dif'] = df['y_2014']-df['y_2006']
df.to_csv(r'waste_data_time.csv')

In [5]:
df['tunit_0'] = df['tunit_code'].astype(str).str[:-2]
df['tunit_0']

3      AT
4      AT
5      AT
6      AT
7      AT
       ..
325    UK
326    UK
327    UK
328    UK
329    UK
Name: tunit_0, Length: 285, dtype: object

In [9]:
df['y_2006'].max()

19017133

In [7]:
df.to_excel(r'nuts_0-2_was_data_2006-2014.xlsx')

In [10]:
df['y_2014'] = df['y_2014'].div(1000)

In [13]:
df.to_csv(r'waste_data.csv', index=False)

In [8]:
df.drop(['json'], axis=1, inplace=True)

In [12]:
df.to_json(r'waste_data.json', orient="records")

In [16]:
import geopandas as gpd

In [18]:
df_nuts = gpd.read_file('NUTS_RG_10M_2021_4326_LEVL_2.geojson')
df_nuts.head()

     id NUTS_ID  ...   FID                                           geometry
0  DE50    DE50  ...  DE50  MULTIPOLYGON (((8.91583 53.01102, 8.71142 53.0...
1  DE60    DE60  ...  DE60  MULTIPOLYGON (((10.23668 53.49635, 10.30795 53...
2  DE71    DE71  ...  DE71  POLYGON ((9.04243 50.49799, 9.10679 50.43799, ...
3  DE72    DE72  ...  DE72  POLYGON ((8.97460 50.93830, 9.11167 50.91238, ...
4  DE73    DE73  ...  DE73  POLYGON ((9.68533 51.58202, 9.67238 51.56840, ...

[5 rows x 11 columns]

In [22]:
df_nuts['NUTS_ID'].drop(columns=['id', 'LEVL_CODE', 'CNTR_CODE', 'MOUNT_TYPE', 'URBN_TYPE', 'COAST_TYPE', 'FID', 'geometry'], inplace=True)

df_nuts

       id NUTS_ID  ...   FID                                           geometry
0    DE50    DE50  ...  DE50  MULTIPOLYGON (((8.91583 53.01102, 8.71142 53.0...
1    DE60    DE60  ...  DE60  MULTIPOLYGON (((10.23668 53.49635, 10.30795 53...
2    DE71    DE71  ...  DE71  POLYGON ((9.04243 50.49799, 9.10679 50.43799, ...
3    DE72    DE72  ...  DE72  POLYGON ((8.97460 50.93830, 9.11167 50.91238, ...
4    DE73    DE73  ...  DE73  POLYGON ((9.68533 51.58202, 9.67238 51.56840, ...
..    ...     ...  ...   ...                                                ...
329  HR06    HR06  ...  HR06  POLYGON ((17.29433 45.98854, 17.20205 45.97788...
330  NO02    NO02  ...  NO02  POLYGON ((12.25466 62.33102, 12.29937 62.26749...
331  NO06    NO06  ...  NO06  MULTIPOLYGON (((11.97605 65.07260, 12.04611 65...
332  NO07    NO07  ...  NO07  MULTIPOLYGON (((28.92968 69.05190, 28.83032 69...
333  NO08    NO08  ...  NO08  POLYGON ((11.83973 59.84077, 11.92697 59.79048...

[334 rows x 11 columns]

In [1]:
import pandas as pd 
import requests 
import json
from io import StringIO
url = "https://database.espon.eu/api/select/indicator-data/?obj=2183"
for_documentation = requests.get(url)
for_documentation = for_documentation.json()
for_documentation = json.dumps(for_documentation)
df = pd.read_json(StringIO(for_documentation))
df.head()

,id,obj,value,decimal_value,year_start,year_end,tunit
0,5743042,2183,293433.0,293433.0,2019,2019,"[{'tunit_name': 'Burgenland', 'tunit_code': 'A..."
1,5743043,2183,1677542.0,1677542.0,2019,2019,"[{'tunit_name': 'Niederosterreich', 'tunit_cod..."
2,5743044,2183,1897491.0,1897491.0,2019,2019,"[{'tunit_name': 'Wien', 'tunit_code': 'AT13'}]"
3,5743045,2183,560939.0,560939.0,2019,2019,"[{'tunit_name': 'Karnten', 'tunit_code': 'AT21'}]"
4,5743046,2183,1243052.0,1243052.0,2019,2019,"[{'tunit_name': 'Steiermark', 'tunit_code': 'A..."

In [5]:
import json

In [13]:
for_documentation = requests.get(url)
for_documentation

In [15]:
for_documentation = for_documentation.json()
for_documentation = json.dumps(for_documentation)
df = pd.read_json(StringIO(for_documentation))
df = pd.json_normalize(df.tunit)
df.head()

JSONDecodeError: Expecting value: line 1 column 1 (char 0)